//RESULT BOX

#result {
    width: 50%;
    background: linear-gradient(
        180deg,
        var(--Light-slate-blue),
        var(--Light-royal-blue)
    );
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    h1 {
        color: var(--Light-lavender);
    }    
}

#result-percentage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        var(--Violet-blue),
        var(--Persian-blue)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    #result-bold {
        font-size: 4rem;
        font-weight: 800;
        color: var(--White);
    }
    p {
        color: var(--Light-lavender);
    }
}

#result-description {
    padding: 0 20px;
    text-align: center;
    p {
        margin-top: 10px;
        color: var(--Light-lavender);
    }
}