//SUMMARY BOX

#summary {
    width: 50%;
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-results {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    .bold {
        color: var(--Dark-gray-blue);
    }
    h3 {
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 500;
    }
    p {
        color: var(--Light-lavender);
        margin-left: auto;
    }   
}

#reaction {
    background-color: rgba(255, 87, 87, 0.1);
    padding: 15px;
    h3 {
        color: var(--Light-red);
        opacity: 0.8; 
    }
}

#memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    padding: 15px;
    h3 {
        color: var(--Orangey-yellow);
        opacity: 0.8; 
    }
}

#verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    padding: 15px;
    h3 {
        color: var(--Green-teal);
        opacity: 0.8; 
    }
}

#visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    padding: 15px;
    h3 {
        color: var(--Cobalt-blue);
        opacity: 0.8; 
    }
}


//BUTTON

#continue-button {
    width: 100%;
    padding: 15px 0;
    background-color: var(--Dark-gray-blue);
    border: none;
    border-radius: 30px;
    color: var(--White);
    font-size: 1rem;
}
#continue-button:hover {
    background: linear-gradient(
        180deg,
        var(--Light-slate-blue),
        var(--Light-royal-blue)
    );
    cursor: pointer;
}