@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;500;700;800&display=swap");
:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: rgb(78, 33, 202);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

#result {
  width: 50%;
  background: linear-gradient(180deg, var(--Light-slate-blue), var(--Light-royal-blue));
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
#result h1 {
  color: var(--Light-lavender);
}

#result-percentage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(180deg, var(--Violet-blue), var(--Persian-blue));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#result-percentage #result-bold {
  font-size: 4rem;
  font-weight: 800;
  color: var(--White);
}
#result-percentage p {
  color: var(--Light-lavender);
}

#result-description {
  padding: 0 20px;
  text-align: center;
}
#result-description p {
  margin-top: 10px;
  color: var(--Light-lavender);
}

#summary {
  width: 50%;
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-results {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}
.summary-results .bold {
  color: var(--Dark-gray-blue);
}
.summary-results h3 {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.summary-results p {
  color: var(--Light-lavender);
  margin-left: auto;
}

#reaction {
  background-color: rgba(255, 87, 87, 0.1);
  padding: 15px;
}
#reaction h3 {
  color: var(--Light-red);
  opacity: 0.8;
}

#memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  padding: 15px;
}
#memory h3 {
  color: var(--Orangey-yellow);
  opacity: 0.8;
}

#verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  padding: 15px;
}
#verbal h3 {
  color: var(--Green-teal);
  opacity: 0.8;
}

#visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  padding: 15px;
}
#visual h3 {
  color: var(--Cobalt-blue);
  opacity: 0.8;
}

#continue-button {
  width: 100%;
  padding: 15px 0;
  background-color: var(--Dark-gray-blue);
  border: none;
  border-radius: 30px;
  color: var(--White);
  font-size: 1rem;
}

#continue-button:hover {
  background: linear-gradient(180deg, var(--Light-slate-blue), var(--Light-royal-blue));
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: Hanken Grotesk, sans-serif;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 18px;
}

main {
  background-color: var(--White);
  width: 700px;
  height: 500px;
  display: flex;
  box-shadow: 6px 4px 10px 4px var(--Pale-blue);
  border-radius: 1.5rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  color: var(--White);
}

p {
  font-size: 1rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: hsl(228, 45%, 44%);
  margin-top: 50px;
}
.attribution a {
  color: blue;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
  body {
    height: 100%;
  }
  main {
    width: 100%;
    height: 95%;
    flex-direction: column;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
  #result {
    width: 100%;
    height: 50%;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 15px 50px;
  }
  #result-percentage {
    width: 160px;
    height: 160px;
  }
  #summary {
    width: 100%;
    height: 50%;
    padding: 20px;
  }
  #reaction, #memory, #verbal, #visual {
    padding: 15px;
  }
  #continue-button {
    padding: 15px 0;
  }
  .attribution {
    margin-top: 5px;
    font-size: 0.6rem;
  }
}
@media only screen and (max-height: 750px) {
  #reaction, #memory, #verbal, #visual {
    padding: 10px;
  }
  #continue-button {
    padding: 10px 0;
  }
}
@media only screen and (max-height: 680px) {
  html {
    font-size: 13px;
  }
  #result-percentage {
    width: 135px;
    height: 135px;
  }
  #reaction, #memory, #verbal, #visual {
    padding: 8px;
  }
  #continue-button {
    padding: 8px 0;
  }
}/*# sourceMappingURL=index.css.map */