@import 'variables';
@import 'result-box';
@import 'summary-box';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: Hanken Grotesk, sans-serif;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 18px;
}

main {
    background-color: var(--White);
    width: 700px;
    height: 500px;
    display: flex;
    box-shadow: 6px 4px 10px 4px var(--Pale-blue);
    border-radius: 1.5rem;
}

h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    color: var(--White);
}

p {
    font-size: 1rem;
}

.attribution {
    font-size: 0.8rem; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    margin-top: 50px;
    a {
        color: blue;
    }
}


@media only screen and (max-width: 500px) {
    
    html {
        font-size: 16px;
    }

    body {
        height: 100%;
    }

    main {
    width: 100%;
    height: 95%;
    flex-direction: column;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    }

    #result {
        width: 100%;
        height: 50%;
        border-radius: 0 0 1.5rem 1.5rem;
        padding: 15px 50px;
    }
    #result-percentage {
        width: 160px;
        height: 160px;
    }

        #summary {
        width: 100%;
        height: 50%;
        padding: 20px;
    }

    #reaction, #memory, #verbal, #visual {
        padding: 15px;
    }

    #continue-button {
        padding: 15px 0;
    }

    .attribution {
        margin-top: 5px;
        font-size: 0.6rem;
    }
}

@media only screen and (max-height: 750px) {

    #reaction, #memory, #verbal, #visual {
        padding: 10px;
    }
}